@model Neibour.ViewModels.Ads_of_users
@{
    ViewData["Title"] = "All_ads_of_site";
}
<style type="text/css">
    .curent {
        text-align:center;
    }
    </style>
<h1 class="curent">Активні оголошення  </h1>


@Html.Partial("~/Views/Shared/_AdsFilter.cshtml")
