
@{
    ViewData["Title"] = "Home";
}
<style type="text/css">
.main_image { background: url("https://deswal.ru/wide/1920-1200/00000176.jpg")no-repeat center center; background-size: cover; height: 900px; }
    .index_name {
        font-family: 'Open Sans';
        text-align: center;
        color: ivory;
        font-size: 64px;
        text-shadow: 2px 4px 3px rgba(0,0,0,0.3);
    }
    </style>
<div class="main_image">
    <p class="index_name">Найкращий спосіб знайти сусіда</p>
</div>
