@{
    ViewData["Title"] = "Правила";
}
<h1 style="text-align:center">@ViewData["Title"]</h1>

<div class="bgef pding5_10" style="margin: 50px">
    <h3 id="r1" class="c62 large fbold margin5_0"><strong><span class="wysiwyg-font-size-medium">1. РОЗМІЩЕННЯ ОГОЛОШЕНЬ</span>&nbsp;</strong></h3>
</div>

<p style="margin: 50px">1.1. Користувач отримує право розміщувати оголошення на Веб-сайтах після проходження реєстрації.<br>Після проходження реєстрації та отримання позитивної оцнінки з тесту, Користувач зможе розміщувати оголошення.</p>
<p style="margin: 50px">1.2. Користувач несе відповідальність за всі дії з використанням його електронної адреси, номера мобільного телефону та пароля для входу на Сайти. Користувач має право користуватися сервісами Сайтів тільки за допомогою власної електронної адреси, мобільного телефону та пароля. У разі передачі даних для доступу до облікового запису/аккаунта іншому користувачеві (іншій особі), такий обліковий запис/акаунт може бути заблокований на розсуд Адміністрації.</p>
<p style="margin: 50px">1.3. Користувач зобов'язується зберігати конфіденційність пароля і не розкривати/передавати його третім особам.</p>
<p style="margin: 50px">1.4. Користувач зобов'язаний негайно змінити дані для входу на Сайти, якщо у нього є причини підозрювати, що його електронну адресу, телефон та пароль, які використовуються для входу на Сайти, були розкриті, або можуть бути використані третіми особами.</p>
<p style="margin: 50px">1.5. Користувачу заборонено:</p>
<p style="margin: 50px">1.5.1. Публікувати однакові оголошення з однієї адреси електронної пошти / номера мобільного телефону;</p>
<p style="margin: 50px">1.5.2. Публікувати схожі за змістом оголошення, де очевидно, що мова йде про ту саму пропозицію;</p>
<p style="margin: 50px">1.5.3. Дублювати однакові оголошення з різних адрес електронної пошти / номерів мобільних телефонів;</p>
<p style="margin: 50px">1.5.4. Публікувати оголошення, опис і/або заголовок/фотографії яких є непов'язаними, не розбірливими;</p>
<div class="bgef pding5_10" style="margin: 50px">
    <h3 id="r2" class="c62 large fbold margin5_0"><span class="wysiwyg-font-size-medium"><strong>2. ПРИЧИНИ ВИДАЛЕННЯ ОГОЛОШЕНЬ&nbsp;</strong></span></h3>
</div>
<p style="margin: 50px">2.1. Оголошення Користувача може бути видалено Компанією через порушення Користувачем умов цієї Угоди, та з таких причин:</p>
<ul class="dotted margintop5 marginbott20 marginleft20" style="margin: 50px">
    <li>У Користувача вже є на Сайті активне аналогічне оголошення;</li>
    <li>Інформація, що міститься в оголошенні є неправдивою;</li>
    <li>Заголовок оголошення містить повторювані знаки оклику та питання, крапки та інші знаки;</li>
    <li>Тема або коментар до фотографії містять посилання на Інтернет-ресурси;</li>
    <li>Фотографія не має очевидного смислового зв'язку з текстом оголошення або не має на меті адекватно проілюструвати текст оголошення;</li>
    <li>Фотографія містить будь-яку рекламну інформацію (посилання на сайт, e-mail, номер телефону, Skype, IСQ, ID в соцмережах, ID інших месенджерів і подібне);</li>
    <li>Фотографія поганої якості;</li>
    <li>Оголошення надано у рубрику, яка не відповідає змісту оголошення;</li>
    <li>Компанії надано обґрунтована скарга іншого Користувача про порушення його прав в оголошенні.</li>
</ul>
<div class="bgef pding5_10" style="margin: 50px">
    <h3 id="r3" class="c62 large fbold margin5_0"><span class="wysiwyg-font-size-medium"><strong>3. ПРАВА ТА ОБОВ'ЯЗКИ СТОРІН&nbsp;</strong></span></h3>
</div>
<p style="margin: 50px">3.1. Користувач зобов'язується:</p>
<ul class="dotted margintop5 marginbott20 marginleft20" style="margin: 50px">
    <li>Не вчиняти дій, які можуть призвести до непропорційно великого навантаження на інфраструктуру Сайтів;</li>
    <li>Не використовувати автоматичні програми для отримання доступу до Сайтів без письмового дозволу Компанії;</li>
    <li>Не копіювати, не відтворювати, не змінювати, не поширювати і не представляти громадськості будь-яку інформацію, що міститься на Сайтах (крім відомостей, наданих самим Користувачем) без попереднього письмового дозволу Компанії;</li>
    <li>Не перешкоджати і не намагатися перешкоджати роботі та іншій діяльності на Сайтах; а також не перешкоджати дії автоматичних систем або процесів, а також інших заходів, з метою перешкодити або обмежити доступ на Сайти;</li>
    <li>Не використовувати відомості, надані іншими Користувачами, в інших цілях, окрім як для здійснення угоди безпосередньо з цим Користувачем, без письмового дозволу іншого Користувача. В цей пункт Угоди не включені персональні дані Користувача, які останній надає Компанії при реєстрації.</li>
</ul>
<p style="margin: 50px">3.2. Користувачу забороняється:</p>
<ul class="dotted margintop5 marginbott20 marginleft20" style="margin: 50px">
    <li>Обговорення дій модераторів і адміністрації Сайту іншим чином, окрім як за допомогою електронного листування з модераторами;</li>
    <li>Використання імен Користувачів, схожих на імена інших Користувачів, з метою видати за них себе і писати повідомлення від їх імені;</li>
</ul>
